@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #ffff;
	color: #fff;
	display: flex;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100vh;
}

p {
	margin: 5px 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

input[type=number] {
	margin-right: 0;

}


.container {
	background-color: #f3f4f7;
	box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
	padding: 20px;
	width: 350px;
	max-width: 100%;
    font-size: 12px;
    color: #545e66;
}
.container h2{
    color: #8e979e;
}
.result-container {
	background-color: #ffffff;
    box-shadow: 0 0px 3px rgba(0,0,0,0.2);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

.result-container #result {
  	word-wrap: break-word;
	max-width: calc(100% - 40px);
}

.result-container .btn {
	font-size: 20px;
	position: absolute;
	top: 5px;
   
	right: 5px;
	height: 40px;
	width: 40px;
}

.btn {
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color: #ce3a2b;
}

.btn-large {
	display: block;
	width: 100%;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
  

}
.setting  input{
    color: #ce3a2b;
    outline: none;
}
.settings{
    background: #ffffff;
    padding: 10px;
    
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

@media screen and (max-width: 400px) {
	.result-container {
		font-size: 14px;
	}
    
}

meter {
	
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
  
	margin: 0 auto 1em;
	width: 100%;
	height: 0.5em;
  
	
	background: none;
	background-color: rgba(0, 0, 0, 0.1);
  }
  
  meter::-webkit-meter-bar {
	background: none;
	background-color: rgba(0, 0, 0, 0.1);
  }
  